:root {
  --bg-color: rgb(234, 229, 229);
  --card-color: rgb(214, 214, 214);
}

.card-light-container{
  background-color: var(--bg-color);
  margin: 0px;
  padding: 0px;
}

#card-main-wraper {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;  
  max-width: 916px;
  width: calc(100% - 20px);
}

#card-main-wraper:hover > .card-box::after {
  opacity: 1;
}

.card-box {
  background-color: rgb(120, 120, 120);
  border-radius: 10px;
  display: flex;
  height: 260px;
  flex-direction: column;
  position: relative;
  width: 300px;  
}

.card-box:hover::before {
  opacity: 1;
}

.card-box::before,
.card-box::after {
  border-radius: inherit;
  content: "";
  height: 100%;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  transition: opacity 500ms;
  width: 100%;
}

.card-box::before {
  background: radial-gradient(
    800px circle at var(--mouse-x) var(--mouse-y), 
    rgba(255, 179, 0, 0.266),
    transparent 40%
  );
  z-index: 3;
}

.card-box::after {  
  background: radial-gradient(
    600px circle at var(--mouse-x) var(--mouse-y), 
    rgb(0, 68, 255),
    transparent 40%
  );
  z-index: 1;
}

.card-box > .card-content-box {
  background-color: var(--card-color);
  border-radius: inherit;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  inset: 1px;
  padding: 10px;
  position: absolute;
  z-index: 2;
}

/* -- ↓ ↓ ↓ some responsiveness ↓ ↓ ↓ -- */

@media(max-width: 1000px) {
  body {
    align-items: flex-start;  
    overflow: auto;
  }
  
  #card-main-wraper {    
    max-width: 1000px;
    padding: 10px 0px;
  }
  
  .card-box {
    flex-shrink: 1;
    width: calc(50% - 4px);
  }
}

@media(max-width: 500px) {
  .card-box {
    height: 180px;
  }

}

@media(max-width: 320px) {
  .card-box {
    width: 100%;
  }
}

