*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.project-card {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 20px;
}

.project-image {
    width: 100%;
    height: auto;
    display: block;
}

.project-details {
    padding: 20px;
}

.project-description {
    margin-top: 10px;
}

.project-button {
    margin-right: 10px;
}