*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.project-card {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 20px;
}
body.bg-dark .project-card{
    border-color: #ccc !important;
}

.project-image {
    width: 100%;
    height: auto;
    display: block;
}

.project-details {
    padding: 20px;
}
body.bg-dark .project-details h4{
    color: #fff;
}

.project-description {
    margin-top: 10px;

}
body.bg-dark .project-description{
    color: #ccc;
}

.project-button {
    margin-right: 10px;
}