@tailwind base;
@tailwind components;
@tailwind utilities;



html,
body {
    scroll-behavior: smooth;
    scroll-snap-type: y proximity;
    scroll-padding-top: 8%;
    color: rgb(0, 0, 0);
}

.glass-gradient{    
backdrop-filter: blur(20px) saturate(200%);
-webkit-backdrop-filter: blur(25px) saturate(200%);
background-color: rgba(214, 219, 228, 0.51);
border-radius: 12px;
border: 1px solid rgba(15, 15, 15, 0.542);
}

.shake-animation{
animation: shakelem .2s ;
animation-direction: normal;
animation-iteration-count: unset;
}
@keyframes shakelem {
    0%,20%,40%,60%,80%,100%{
        transform: translateX(0px);
    }
    10%,30%,50%,70%,90%{
        transform: translateX(10px);
    }

  }

.scrollbar-thin{
    scrollbar-width: thin;
}
.scrollbar-none{
    scrollbar-width: none;
}